name: Build and Push

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-push:
    uses: HudHud-Maps/cicd-reusable-workflows/.github/workflows/build-push-template.yaml@v1.1.0
    secrets: inherit
    with:
      NAMESPACE: data
      DEPLOYMENT_NAME: hudhud-restriction-validator

